# Server
NODE_ENV=development
LANGUAGE=en
PORT=8020
BACKEND_SERVER=0.0.0.0

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672
QUEUE_PREFIX=asoode

# Web Push (VAPID)
VAPID_EMAIL=mailto:admin@asoode.work
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
